.buttones {
    padding: 10px 20px;
    background-color: #8e44ad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}